<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>640613339766-mt9mrl939sdu5l09ppnhcnj3tlndig0e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.640613339766-mt9mrl939sdu5l09ppnhcnj3tlndig0e</string>
	<key>API_KEY</key>
	<string>AIzaSyDDm5alfuUn9fcrAXkhek4MbvpzUyURGh8</string>
	<key>GCM_SENDER_ID</key>
	<string>640613339766</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>nimit.velocity</string>
	<key>PROJECT_ID</key>
	<string>velocity-1c0ee</string>
	<key>STORAGE_BUCKET</key>
	<string>velocity-1c0ee.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:640613339766:ios:9b043f7b731c8a69298557</string>
	<key>DATABASE_URL</key>
	<string>https://velocity-1c0ee.firebaseio.com</string>
</dict>
</plist>